<mat-card>

<div class="max-w-[85rem] mt-20 px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

  <!-- Sign UP Page Content -->
    <div class="grid md:grid-cols-2 items-center gap-12">
      <div>
        <!-- Title -->
        <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl lg:text-5xl lg:leading-tight">
          Register an Account
        </h1>
        <!-- End Title -->

        <!-- Sub-Heading -->
        <p class="mt-3 md:text-lg text-gray-800">
          Our platform helps government departments work together efficiently by providing an inter-departmental bulletin board for addressing and solving shared issues. 
        </p>
        <!-- End Sub-Heading-->

        <!-- Info List -->
        <div class="mt-8">
          <h2 class="text-lg font-semibold text-gray-800">
            "What can I expect?"
          </h2>
  
          <ul class="mt-2 space-y-2">
            <li class="flex space-x-3">
              <svg class="flex-shrink-0 h-6 w-6 text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z" fill="currentColor"/>
              </svg>
              <span class="text-gray-600">
                Efficient Collaboration
              </span>
            </li>
  
            <li class="flex space-x-3">
              <svg class="flex-shrink-0 h-6 w-6 text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z" fill="currentColor"/>
              </svg>
              <span class="text-gray-600">
                Timely Issue Resolution
              </span>
            </li>
  
            <li class="flex space-x-3">
              <svg class="flex-shrink-0 h-6 w-6 text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z" fill="currentColor"/>
              </svg>
              <span class="text-gray-600">
                Transparent Communication
              </span>
            </li>
          </ul>
        </div>
        <!-- End Info list -->

        <!--Our "Imaginery" Partners -->
        <div class="mt-8">
          <h2 class="text-lg font-semibold text-gray-800">
            Partnered with:
          </h2>
  
          <div class="mt-4 flex gap-x-8">  
            <a href="https://seekvectorlogo.com/vodacom-vector-logo-ai/" target="_blank">
                <img src="https://seekvectorlogo.com/wp-content/uploads/2021/12/vodacom-vector-logo-2021.png" width="100" height="100" />
              </a>
              
              <a href="https://www.fnb.co.za/" target="_blank">
                <img src="https://seekvectorlogo.com/wp-content/uploads/2019/03/first-national-bank-fnb-vector-logo.png" width="100" height="100" />
              </a>
              
              <a href="https://www.nandos.co.za/" target="_blank">
                <img src="https://findvectorlogo.com/wp-content/uploads/2019/03/nandos-vector-logo.png" width="105" height="105" />
              </a>
          </div>
        </div>
        <!-- End Partners -->
        
  <!-- Customers -->
        <div class="mt-10 flex items-center gap-x-5">
          <div class="flex -space-x-2">
            <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
            <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2.5&w=320&h=320&q=80" alt="Image Description">
            <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80" alt="Image Description">
            <span class="inline-flex justify-center items-center h-8 w-8 rounded-full bg-[#5f9ea0] text-white ring-2 ring-white">
              <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            </span>
          </div>
          <span class="text-sm text-gray-500">
            Trusted by over 2.5k civil servants
          </span>
        </div>
        <!-- End Customers -->

      </div>
  
      <!-- Input Content -->
      <div class="relative">
        <div class="flex flex-col border border-gray-300 rounded-xl p-4 sm:p-6 lg:p-10">
          <h2 class="text-xl font-semibold text-gray-800">
            Fill in the form
          </h2>
  
               <!-- Sign-Up Form -->
          <form (submit)="onsignup(loginform)" #loginform="ngForm">
            <div class="mt-6 grid gap-4 lg:gap-6">
              <!-- Email textbox -->
              <div>
                <label for="hs-work-email-hire-us-1" class="block text-sm text-gray-700 font-medium">Email</label>
                <input
                  type="email"
                  placeholder="Email address"
                  ngModel
                  name="enterusername"
                  required
                  minlength="3"
                  maxlength="32"
                  pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
                  #enterusername="ngModel"
                  class="py-3 px-4 block w-full border border-gray-300 rounded-md text-sm focus:border-blue-500 focus-ring-500"
                >
                <!-- Email input validation -->
                <div *ngIf="enterusername.invalid && (enterusername.dirty || enterusername.touched)">
                  <div class="text-red-500 text-sm">Please enter a valid email address (3-32 characters).</div>
                </div>
              </div>
          <!-- End Email textbox -->
          <!-- Password textbox -->
              <div>
                <label for="hs-work-email-hire-us-1" class="block text-sm text-gray-700 font-medium">Password</label>
                <div class="relative">
                  <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" ngModel name="enterpassword" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}" #enterpassword="ngModel"
                    class="py-3 px-4 block w-full border border-gray-300 rounded-md text-sm focus-border-blue-500 focus-ring-500">
                  <button type="button" class="absolute text-sm right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600" (click)="showPassword = !showPassword">
                    {{ showPassword ? 'Hide' : 'Show' }} Password
                  </button>
                </div>
                <!-- Password input validation -->
                <div *ngIf="enterpassword.invalid && (enterpassword.dirty || enterpassword.touched)">
                  <div class="text-red-500 text-sm">Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, and one digit.</div>
                </div>
              </div>
          <!-- End Password textbox -->
                <!-- Department dropdown -->
              <div>
                <label for="underline_select" class="sr-only">Underline select</label>
                <select
                  ngModel
                  name="department"
                  [(ngModel)]="selectedDepartment"
                  #enteredDepartment="ngModel"
                  required
                  class="block py-2.5 px-0 w-full text-black text-sm bg-transparent border-0 border-b-2 border-gray-300 focus-outline-none focus-ring-0 focus-border-[#5f9ea0] peer"
                >
                  <option value="" disabled selected>Choose a department</option>
                  <option value="Basic Education">Basic Education</option>
                  <option value="Communications and Digital Technologies">Communications and Digital Technologies</option>
                  <option value="Cooperative Governance and Traditional Affairs">Cooperative Governance and Traditional Affairs</option>
                  <option value="Correctional Services">Correctional Services</option>
                  <option value="Home Affairs">Home Affairs</option>
                  <option value="Justice and Constitutional Development">Justice and Constitutional Development</option>
                </select>
                <!-- Department input validation -->
                <div *ngIf="enteredDepartment.invalid && (enteredDepartment.dirty || enteredDepartment.touched)">
                  <div class="text-red-500 text-sm">Please choose a department.</div>
                </div>
              </div>
          <!-- End Department dropdown -->

            </div>
          <!-- Register Button -->
            <div class="mt-6 grid">
              <button type="submit" class="inline-flex justify-center items-center gap-x-3 text-center bg-[#5f9ea0] hover:bg-[#367588] border border-transparent text-sm lg:text-base text-white font-medium rounded-md focus-outline-none focus-ring-2 focus-ring-blue-600 focus-ring-offset-2 focus-ring-offset-white transition py-3 px-4">Register Account</button>
            </div>
          <!-- End Register Button-->
          </form>
               <!-- End Sign-Up Form -->      

               <!-- Alternative Option -->
               <!-- Or Divider -->
        <div class="py-6 flex items-center text-gray-400 uppercase before:flex-[1_1_0%] before:border-t before:mr-6 after:flex-[1_1_0%] after:border-t after:ml-6">Or</div>
        <div class="flex justify-center">
          <label for="remember-me" class="text-sm text-gray-600">Already have an account?</label>
        </div>
        <!-- Login Button -->
        <div class="mt-8 grid">
          <button type="button" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm sm:p-4" 
          [routerLink]="['/login']">
    Login
  </button>
  <!-- End Login Button -->
      </div>
                <!-- End Alternative Option -->
        </div>
      </div>
      <!-- End Input Content -->
    </div>
  <!-- End Sign UP Page Content -->
  </div>
</mat-card> 
