<!-- NavBar Component -->
<app-nav-component></app-nav-component>

<!-- Page Loader -->
<div class="loader fixed top-0 left-0 w-full h-full bg-white bg-opacity-80 flex items-center justify-center" *ngIf="showLoader">
  <div class="text-center">
    <!-- You can customize the loader here, e.g., add a loading spinner or message -->
    <button disabled type="button" class="py-2.5 px-5 mr-2 text-sm font-medium text-white bg-[#5f9ea0] rounded-lg border hover:bg-gray-100 inline-flex items-center">
      <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-gray-200 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50.5908Z" fill="#FFFFFF"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.8710 24.3692 89.8167 20.3480C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.8130 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.8410C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.0830 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
      </svg>
      Loading...
    </button>
  </div>
</div>
<!-- End Page Loader -->

<!-- Post Display Content -->
<div *ngIf="!showLoader">
  <!-- Header Component -->
  <app-header-component></app-header-component>

  <br>
  <!-- Page Heading -->
  <mat-card>
    <h4 class="text-lg font-bold text-[#86acb7]">Complaint Forum</h4>
  </mat-card>
<!-- Use Case : No Post Found -->
  <div *ngIf="posts.length < 1">
    <br>
    <mat-card>
      <h5>No Posts found</h5>
    </mat-card>
  </div>

  <br>

  <div *ngIf="isLoggedIn" class="card-list"> <!-- Only display page ontent if User is logged in-->
    <!-- User Post -->
    <mat-card *ngFor="let post of posts">
      <div class="max-w-full p-6 bg-[#f3f4f6] border border-gray-300 rounded-lg flex justify-between flex-col mb-10">
        <div>
          <a href="#">
            <p class="mb-2 text-xl font-bold tracking-tight text-[#367588]">{{ post.username }}</p>
          </a>
          <p class="mb-3 font-normal text-gray-700">From: {{ post.department }}</p>
          <p class="mb-3 font-normal text-gray-700">Submitted on: {{ post.date }}</p>
          <ng-template>
            <!-- Post Content -->
            <mat-card-content id="mat-card">
              {{ post.postContent }}
            </mat-card-content>
          </ng-template>
          <mat-divider class="mb-4"></mat-divider>
          <div class="pr-[10rem]" style="text-align: left;">
            <mat-card-content [innerHtml]="post.postContent"></mat-card-content>
          </div>
        </div>
        <div class="self-end">
          <button href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-[#5f9ea0] text-white hover:bg-[#367588] focus:ring-4 focus:outline-none focus:ring-blue-300"
            (click)="onDelete(post._id)">
            Delete Post
            <div class="ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </mat-card>
    <!-- End User Post -->
  </div>

<!-- Error Message -->
  <div *ngIf="!isLoggedIn" class="bg-slate-200 h-screen pt-10 pb-10 px-10 flex justify-center">
    <div class="flex flex-col items-center"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#dc143c" class="bi bi-slash-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
      </svg>      
      
      <h4 class="text-[#dc143c] px-10 text-xl font-semibold mt-6">[Error] : Please Log In or Sign Up to View Posts</h4>
    </div>
  </div>
<!-- End Error Message -->

  

</div>
