a {
  padding: 5px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  background: fixed;
  color: cadetblue;
  margin-right: 70px;
}


hr {
  color: aliceblue;

}

